@font-face {
    font-family: "Gill Sans MT";
    src: url("../../assets/fonts/Gill-Sans-MT.woff") format("woff");
}

@font-face {
    font-family: "Maiandra GD";
    src: url("../../assets/fonts/Maiandra-GD.woff") format("woff");
}

html,
body,
.app {
    margin: 0;
    width: 100%;
    height: 100%;
}

html {
	font-size: 1px;
}

@media screen and (min-width: 1921px){
	html {
		font-size: 1.5px;
	}
}

@media screen and (min-width: 2561px){
	html {
		font-size: 2px;
	}
}

body {
    background-image: linear-gradient(to top left, #512592, #151b4f); /* 自右下向左上渐变 */
}

.background {
    position: absolute;
    right: 100rem;
    bottom: 100rem;
    width: 896rem;
    height: 741rem;
    background-image: url("../../assets/img/bg.webp");
    background-size: cover;
}

.background-icon {
    position: absolute;
    width: 50rem;
}

.bit-icon-first {
    top: 272rem;
    left: 181rem;
    animation: beating 0.8s linear 0s infinite;
}

.bit-icon-two {
    top: 105rem;
    left: 397rem;
    animation: beating 0.8s linear 1.5s infinite;
}

.bit-icon-three {
    top: 220rem;
    left: 614rem;
    animation: beating 0.8s linear 2s infinite;
}

.bit-icon-four {
    top: 237rem;
    left: 713rem;
    animation: beating 0.8s linear 3s infinite;
}

.elevator-icon {
    top: 123rem;
    left: 290rem;
}

.dollar-icon {
    top: 318rem;
    left: 370rem;
}

.email-icon {
    top: 532rem;
    left: 240rem;
}

.node-icon {
    top: 121rem;
    left: 516rem;
}

.logo {
    position: absolute;
    width: 10%;
    border: none;
}

.logo img {
    width: 100%;
}

.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 25%;
    left: 30%;
    top: 6%;
    color: white;
}

.header-item {
    font-size: 20rem;
    font-weight: bold;
}

.arrow-down {
    position: relative;
    bottom: 4px;
    margin-left: 10px;
    border: solid #b2b2b2;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
}

.connect-wallet {
    position: absolute;
    top: 5%;
    right: 20%;
}

#connect-wallet {
	font-size: 16rem;
}

.btn {
    color: white;
    background-color: #4e68fb;
    border: none;
    cursor: pointer;
}

.btn-big {
    height: 50rem;
    border-radius: 25rem;
    padding: 10rem 25rem;
}

.btm-small {
    height: 40rem;
    border-radius: 20rem;
    width: 100rem;
}

.info {
    position: absolute;
    width: 35%;
    left: 8%;
    top: 25%;
}

.info-title,
.info-description {
    color: white;
}

.info-title {
    font-family: "Gill Sans MT";
    font-size: 40rem;
    font-weight: bolder;
}

.info-description {
    font-family: "Maiandra GD";
    font-size: 20rem;
}

.login {
    position: absolute;
    top: 60%;
    left: 10%;
    width: 15%;
    color: white;
	font-size: 16rem;
}

.login-form-item {
    margin-bottom: 30rem;
}

.login label {
    padding-left: 10rem;
}

.login input {
    width: 100%;
    height: 40rem;
    margin-top: 20rem;
    border-radius: 20rem;
    border: none;
    font-size: 20rem;
    padding-left: 20rem;
    color: #151b4f;
}

.login input:focus-visible {
    border: none;
    outline: none;
}

.login-btn {
    display: flex;
    justify-content: space-between;
}

.login .btn {
	font-size: 16rem;
}

.footer-logo {
    position: absolute;
    bottom: 2%;
    right: 2%;
    width: 10%;
}

#wallet-select {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.wallet-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(69, 42, 122);
    transition: opacity 0.4s ease 0s;
    opacity: 0.6;
}

.wallet-list {
    position: absolute;
    width: 15%;
    height: 50%;
    background: rgb(50 43 76);;
    border: 1px solid rgb(82, 75, 99);
    border-radius: 32px;
}

.wallet-list-header {
    align-items: center;
    background: transparent;
    border-bottom: 1px solid rgb(82, 75, 99);
    display: flex;
    padding: 12rem 24rem;
}

.wallet-list-header-title {
	flex: 1;
    color: white;
    font-size: 18rem;
    font-weight: bold;
}

#wallet-select-close {
    font-size: 18rem;
    color: blanchedalmond;cursor: pointer;
}

.wallet-list-body {
    padding: 24px
}

.wallet-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16rem;
    font-weight: 600;
    color: white;
    margin-bottom: 8px;
    background-color: rgb(53, 53, 71);
    border-radius: 16px;
    padding: 0 24px;
    cursor: pointer;
}

.wallet-list-item img {
    width: 32rem;
    border-radius: 16rem;
}

.dropdown-menu {
    display: none;
    position: absolute;
    width: 150px;
    padding: 0.5rem 0;
    margin: 0;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    color: #212529;
}

.dropdown-menu li {
    padding: 0 10px;
}

@keyframes beating {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(20px) scale(1.1, 0.9);
    }

    75% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }

}